.wrap-timeline {
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  align-items: center;
}

.timeline {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 30px;
}

.wrap-verticalbar {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 45px;
}

.verticalbar {
  height: 100%;
  background: #d6d6d6;
  border-radius: 25px;
  width: 5px;
  margin: 0 10px;
}

.verticalbar::after {
  content: "";
  position: absolute;
  bottom: -27px;
  left: -2.5px;
  background: transparent;
  border: 5px solid #d6d6d6;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

@media screen and (min-width: 640px) {
  .timeline {
    padding-bottom: 50px;
  }

  .verticalbar::after {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: calc(50% - 15px);
  }
}

.content {
  position: relative;
  overflow-wrap: anywhere;
  display: flex;
  flex-direction: column;
}

.content > div {
  width: 100%;
}

.content > div:last-child {
  margin-bottom: 0;
}

.project, .story {
  display: flex;
  align-items: center;
  gap: 20px;
  align-items: flex-start;
  letter-spacing: -0.3px;
  margin: 0.3rem 0;
}

.project > .article::before, .story > .article::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  z-index: 0;
  position: absolute;
}
.project > .article::before {
  background: white;
  top: 35px;
}

.story > .article::before {
  background: #c8d8db;
  top: 17px;
}

.project > .article {
  background: white;
  padding: 10px 20px 10px 20px;
  box-shadow: rgb(0 0 0 / 15%) 0px 5px 10px -7px;
}



.story > .article {
  background: #c8d8db;
  color: #3e3e3e;
  padding: 10px 20px;
  box-shadow: rgb(0 0 0 / 15%) 0px 5px 10px -7px;
  width: auto;
}

.article {
  width: 100%;
  border-radius: 10px;
  transition: all 0.2s;
  position: relative;
  font-size: 0.875rem;
  position: relative;
}
.article-link {
  visibility: hidden;
  position: absolute;
  padding: 3px;
  top: 10px;
  right: 10px;
  background: #bfbfbf;
  color: white;
  border-radius: 5px;
}
.article-link > img {
  width: 20px;
  height: 20px;
}
.article:hover > .article-link {
  visibility: visible;
}
.article-link:hover {
  background: #59a09c;
}
.article-link:active {
  background: #4b8581;
}
.article-title {
  font-size: 1.125rem;
  font-weight: 900;
}

.article-date {
  line-height: 1.15;
}

.article-content {
  margin-top: 0.5rem;
}

.article-content > .desc {
  margin: 0.85rem 0;
  font-weight: medium;
}

.article-content li::before {
  display: inline-block;
  content: "•";
  margin-right: 0.3rem;
}

@media screen and (max-width: 639px) {
  .project > .article::before, .story > .article::before {
    left: -7.5px;
  }
}

@media screen and (min-width: 640px) {
  .timeline {
    width: 100%;
    max-width: 1000px;
  }
  .wrap-verticalbar {
    justify-content: center;
  }
  .content > div {
    width: 50%;
  }
  .project, .story {
    gap: 35px;
  }
  .project:nth-child(odd), .story:nth-child(odd) {
    transform: translateX(12.5px);
    flex-direction: row-reverse;
  }
  .story:nth-child(odd) {
    text-align: right;
  }
  .project:nth-child(even), .story:nth-child(even) {
    transform: translateX(calc(100% - 12.5px));
    flex-direction: row;
  }
  .content > .project:nth-child(odd) > .article::before, .content > .story:nth-child(odd) > .article::before {
    right: -7.5px;
  }
  .content > .project:nth-child(even) > .article::before, .content > .story:nth-child(even) > .article::before {
    left: -7.5px;
  }
  .project:hover > .article, .story:hover > .article {
    transform: scale(1.01) translateY(-10px);
    box-shadow: 0px 13px 10px -10px #0000006e;
  }
  .project:hover .dot, .story:hover .dot {
    transform: scale(1.01) translateY(-10px);
    box-shadow: #00000033 1px 5px 5px;
  }
  .article {
    width: 100%;
    border-radius: 10px;
    transition: all 0.2s;
    position: relative;
    font-size: 0.95rem;
  }

  .project > .article {
    padding: 10px 25px 25px 25px;
  }

  .article-title {
    font-size: 1.5rem;
    font-weight: 900;
  }

  .article-date {
    line-height: 1.15;
    font-size: 0.85rem;
  }

  .article-content > .desc {
    margin: 0.85rem 0;
    font-weight: medium;
  }
}

.wrap-dot {
  z-index: 1;
  flex: none;
  width: 25px;
}
.dot {
  position: relative;
  transition: all 0.2s;
  border-radius: 100%;
  box-shadow: rgb(0 0 0 / 15%) 0px 4px 4px 0px;
  margin: 0 auto;
}
.dot.big {
  width: 25px;
  height: 25px;
  top: 30px;
  background: white;
}

.dot.small {
  width: 15px;
  height: 15px;
  top: 20px;
  background: white;
}