@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Bangers';
    src: url('../public/fonts/Bangers-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../public/fonts/MontserratAlternates-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../public/fonts/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}